body{
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color:#09201B;
  margin:0;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: #09201B;
  margin:0;
}
.nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0%;
}
.nav__bar--font{
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #CCFAE1;
  text-align: center;
}

.nav__bar--margin{
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav__links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
}
.nav__links--font{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #77E297;
}

.button{
  background-color: #3A824D;
  border-radius: 3em;
}
.button--margin{
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 26px;
}

.button--padding{
  padding:8px 12px 8px 12px;
}
.button--font{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color:#F5FCF8;
  text-align: center;
}

.header__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main{
  max-width: 352px;
  margin-top: 48px;
  margin-bottom: 77px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h1{
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.footer{
  background-color: #CCFAE1;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color:#09201B;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.figure{
  width: 352px;
  margin-left: auto;
  margin-right: auto;
}

.figure__img{
  max-width: 100%;
}